.nav_head{
				width: 1180px;
			}
			.hw_contain_main {
				margin: 0 auto;
				text-align: center;
				width: 1180px;
			}
			
			.mydanceimg>img{
				width: 280px;
				border-radius: 15px;
				
			}
			.mydance{
				margin: 0 auto;
				min-width: 800px;
				list-style-type: none;
			}
			.mydance>li{
			padding: 18px;
			float: left;
			border-color: gainsboro;
			margin:30px 38px;
			
			}
			.dance_click{
				
				color: black;
				text-decoration: none;
			}
			.dance_click:hover{
				color: pink;
			}
			.jiazai{
				margin: 0 auto;
				font-size: 30px;
				width: 1100px;
				border: 1px;
				
				margin-top:30px;
				text-align: center;
				padding:15px;
				background-color: azure;
			}
			.jiazai>a{
				text-decoration: none;
				color: black;
			}
			.jiazai>a:hover{
				color: pink;
			}
			.mydancetitle{
			overflow: hidden;
			text-overflow: ellipsis;
			/** 超出宽度显示为......**/
			white-space: nowrap;
			/* 不换行 */
			font-size: 18px;
			width: 280px;
			text-decoration: none;
			}
			.mydancetitle h1{
				overflow: hidden;
			text-overflow: ellipsis;
			/** 超出宽度显示为......**/
			white-space: nowrap;
			/* 不换行 */
			font-size: 23px;
			width: 280px;
			text-decoration: none;
			}
			.jidiao{
				height: 20px;
				width: 160px;
				float: left;
			}