.log_contain_main{
			margin: 0 auto;
			width: 860px;
		}
		.search_contain{
			position: relative;
			width: 860px;
			height: 90px;
			overflow: hidden;
			
		}
		.search_kong{
			height: 10px;
		}
		.layui-input{
			border-radius: 20px;
			font-size: 20px;
			text-align: center;
			height: 50px;
			border-width: 2px;
			float: left;
			
		}
		.search_button{
			position: absolute;
			float: left;
			right: 10px;
			margin-top: 5px;
			height: 40px;
			font-size: 20px;
			border: 0;
			background-color: white;
			cursor: pointer;
		}
		.search_button:hover{
			color: pink;
		}
		.contain_ul{
			
		}
		.contain_ul>li{
			float: left;
			font-size: 18px;
			margin-left: 30px;
			padding: 10px;
		}
		.contain_ul>li>a:hover{
			color:pink;
		}
		
		
		.contain_main{
			
		}
		.contain_text_ul{
		}
		.contain_text_ul>li{
			width: 860px;
			height: 140px;
			
		}
		.contain_text_ul li h1{
			text-align: center;
			font-size: 35px;
		}
		.contain_text_ul li p{
			margin: auto;
			text-align: center;
			height: 80px;
			width: 800px;
			text-overflow: ellipsis;
			/** 超出宽度显示为......**/	
			font-size: 20px;
		}
		.contain_text_in{
			background-color: aliceblue;
			border-radius: 30px;
		}
		.jiazai{
				margin: 0 auto;
				font-size: 30px;
				width: 800px;
				border: 1px;
				
				margin-top:30px;
				text-align: center;
				padding:15px;
				background-color: azure;
			}
			.jiazai>a{
				text-decoration: none;
				color: black;
			}
			.jiazai>a:hover{
				color: pink;
			}