*{
				margin:0;
				padding: 0;
			}
			.me_contain_my{
			}
			.contain_my_title {
				padding: 20px;
				position: relative;
				width: 800px;
				margin: 20px auto;
				text-align: center;
			}
			
			.contain_my_title h1 {
				padding: 10px;
				font-size: 60px;
			}
			
			.contain_my_title p {
				font-size: 20px;
				padding: 10px;
			}
			
			.contain_my_title p span {
				position: relative;
				z-index: 20;
			}
			
			.contain_my_title>img {
				width: 300px;
				height: 300px;
				padding: 30px;
			}
			
			.contain_img {}
			
			.draw {
				position: fixed;
				width: 1px;
				line-height: 1px;
			}
			
			.cont {
				display: none;
				width: 120px;
				height: 400px;
				position: fixed;
				bottom: 0;
				z-index: 10;
			}
			
			.button {
				z-index: 10;
				position: relative;
				font-size: 30px;
				width: 100px;
				height: 50px;
				line-height: 50px;
				margin: 0;
				text-align: center;
				background-color: #E6E6FA;
				color: rgba(0, 0, 0, 0.3);
				box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.6);
				cursor: pointer;
				transition: all 0.2s ease;
			}
			
			.close {
				position: relative;
				font-size: 30px;
				width: 100px;
				height: 50px;
				line-height: 50px;
				margin: 0;
				text-align: center;
				background-color: #E6E6FA;
				color: rgba(0, 0, 0, 0.3);
				box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.6);
				cursor: pointer;
				transition: all 0.2s ease;
			}
			
			.clicked {
				box-shadow: inset 0 2px 7px rgba(0, 0, 0, 0.4);
				color: white;
			}
		
			a{
				text-decoration: none;
				color: black;
			}
			a:hover{
				color: pink;
			}
		
			.myzan{
				margin:0 auto;
				padding:120px 0;
				font-size: 30px;
				text-align: center;
			}
			.myhobbycontain{
				margin:0 auto;
				padding:30px 0;
			
				text-align: center;
			}
			/*Prefix Free*/
			
@keyframes floatOne
{0% {opacity:1;}50% {opacity:1;}100% {opacity:0;transform:translate3D(0,-20px,0) scale(.2) rotate(45deg);}}
@keyframes floatTwo
{0% {opacity:1;}50% {opacity:1;}100% {opacity:0;transform:translate3D(0,-35px,0) scale(.1) rotate(45deg);}}
@keyframes floatThree
{0% {opacity:1;}50% {opacity:1;}100% {opacity:0;transform:translate3D(0,-50px,0) scale(.3) rotate(45deg);}}
@keyframes floatFour
{0% {opacity:1;}50% {opacity:1;}100% {opacity:0;transform:translate3D(0,-65px,0) scale(.1) rotate(45deg);}}
@keyframes floatFive
{0% {opacity:1;}50% {opacity:1;}100% {opacity:0;transform:translate3D(0,-80px,0) scale(.2) rotate(45deg);}}
@keyframes floatSix 
{0% {opacity: 1;}50% {opacity: 1;}100% {opacity: 0;transform: translate3D(0, -95px, 0) scale(.3) rotate(45deg);}}