.layui-form-label {
				font-size: 20px;
			}
			
			.login-top {
				height: 60px;
			}
			
			.login-fullmain {
				width: 800px;
				margin: 0 auto;
				text-align: center;
				position: relative;
				height: 400px;
				
			}
			
			.login-contain {
				position: relative;
				width: 800px;
				height: 80px;
			}
			
			.layui-input {
				width: 200px;
			}
			
			.login-button {
				margin-right: 120px;
				height: 60px;
			}
			
			.layui-btn-radius {
				font-size: 20px;
				margin: 20px;
			}
			
			.lunaspan {
				float: left;
				position: relative;
				margin-top: 10px;
				color: red;
				width: 150px;
				height: 80px;
				font-size: 15px;
			}
			
			.layui-input {
				float: left;
				border-radius: 20px;
				width: 600px;
			}
			.preview {
		float: left;
		position: relative;
		height: 150px;
		}
		.coursestepbutton {
				margin-top: 50px;
				margin-left: -80px;
				height: 100px;
		}
		.upload {
				position: relative;
				padding: 10px 10px;
				height: 100px;
				line-height: 20px;
				border: 1px solid #999;
				text-decoration: none;
				color: #666;
			}
			
			.step {
				overflow: hidden;
				height: 180px;
				width: 500px;
				margin:0 auto;
			}
			
			
			.change {
				position: absolute;
				overflow: hidden;
				right: 0;
				top: 0;
				height: 40px;
				background-color: #6E6E6E;
				opacity: 0;
			}
			.deletestep {
				position: relative;
				float: left;
				
				border: 1px solid #999;
				
				font-size: 18px;
				width: 80px;
				height: 40px;
				background-color: lavender;
				border-radius: 20px;
			}
			
			.deletestep:hover {
				color: pink;
				cursor: hand;
}	
.myimgpreview{
height:150px;
width:300px;
float:left;
}