<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.1.xsd 
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-4.1.xsd 
      http://www.springframework.org/schema/aop 
	  http://www.springframework.org/schema/aop/spring-aop-4.1.xsd 
      http://www.springframework.org/schema/mvc
      http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
      http://www.springframework.org/schema/tx 
      http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">
          
     <context:component-scan base-package="com.luna.myblog.*" />  
    <!-- 配置DataSource -->  
 <bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://127.0.0.1:3306/lunablog">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="123550csq1003"></property>
	</bean>
      
    <!-- 配置SessionFactory -->  
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">  
        <!-- 配置数据源属性 -->  
        <property name="dataSource" ref="dataSource"></property>  
        <!-- 配置扫描的实体包(pojo) -->  
        <property name="namingStrategy">  
            <bean class="org.hibernate.cfg.ImprovedNamingStrategy"></bean>  
        </property>
        <!-- 配置Hibernate 的常用属性 -->  
         <property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
         <!-- 配置注解的entity的package -->
    </bean>  

    
    <!-- 配置事务异常封装 -->
   <bean id="persistenceExceptionTranslationPostProcessor" 
       class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />
<!-- 配置Hibernate 的事物管理器 -->  
     <bean id="transactionManager"   
            class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />  
 </bean>
<!-- 声明式容器事务管理 ,transaction-manager指定事务管理器为transactionManager -->
<tx:advice id="txAdvice" transaction-manager="transactionManager">
<tx:attributes>
 <tx:method name="get*" propagation="REQUIRED"/>  
 <tx:method name="delete*" propagation="REQUIRED"/>  
 <tx:method name="update*" propagation="REQUIRED" />  
 <tx:method name="add*" propagation="REQUIRED" />  
<tx:method name="*" read-only="true" />
</tx:attributes>
</tx:advice>
<aop:config expose-proxy="true">
<!-- 只对业务逻辑层实施事务 -->
<aop:pointcut id="txPointcut" expression="execution(* com.luna.myblog.service..*.*(..))" />
<!-- Advisor定义，切入点和通知分别为txPointcut、txAdvice -->
<aop:advisor pointcut-ref="txPointcut" advice-ref="txAdvice"/>
</aop:config>

<bean id="lunaDanceDao" class="com.luna.myblog.dao.impl.LunaDanceDaoImpl">
	<property name="sessionFactory" ref="sessionFactory"/>
</bean>

<bean id="lunaLogDao" class="com.luna.myblog.dao.impl.LunaLogDaoImpl">
	<property name="sessionFactory" ref="sessionFactory"/>
</bean>
<bean id="lunaHandWorkDao" class="com.luna.myblog.dao.impl.LunaHandWorkDaoImpl">
	<property name="sessionFactory" ref="sessionFactory"/>
</bean>
<bean id="lunaLearnNoteDao" class="com.luna.myblog.dao.impl.LunaLearnNoteDaoImpl">
	<property name="sessionFactory" ref="sessionFactory"/>
</bean>
<bean id="lunaPhotoDao" class="com.luna.myblog.dao.impl.LunaPhotoDaoImpl">
	<property name="sessionFactory" ref="sessionFactory"/>
</bean>

</beans>